body, h1, h2, p, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}


.top-bar2 {
  	background-color: #333; 
  	color: white;
  	text-align: center; 
  	padding: 15px 0; 
  	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
}
.top-bar2 a {
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
  	font-weight: bold;
  	font-size: 16px;
  	transition: color 0.3s;
}

 .top-bar2 a:hover {
   color: #00bcd4; 
 }

.hero2 {
  	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLyO5qZwGZDXFyyageWPYDrJ6LTbex9_xq6g&s");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.hero2 h1 {
  	font-size: 3rem;
  	margin-bottom: 1rem;
}

.hero2 p {
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
}
