/* index.html code */
body, h1, h2, p, a {
  	margin: 0;
  	padding: 0;
  	text-decoration: none;
  	color: inherit;
}

body {
	background-color: #CCCACC; 
}

.home-page {
    background-image: url("../images/Gallup-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color: #D0083A;
    text-align: center;
    padding: 6rem 6rem;
    border: 2px solid black;
    background-color: blue; 
    position: relative;
    z-index: 1;
}

.home-page h1 {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 1rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    font: italic small-caps bold 40px/50px Georgia, serif;
    color: #FFF;
}

.home-page p {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    font: italic small-caps bold 20px/30px Georgia, serif;
    color: #FFF;
}

.cta-button {
    background-color: #FF6A00;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #D85A00;
}

.about_t h1 {
	text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.feature {
	border-radius: 20px;
  	background: #F5B700;
  	border: 1px solid #ddd;
  	padding: 5rem;
  	flex: 1 1 300px;
  	text-align: center;
}

.Event-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.Event-button:hover {
  	background: #d03a0f;
}

.History-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.History-button:hover {
  	background: #d03a0f;
}

.service h1 {
	text-align: center;
}

.service_f {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding: 2rem;
  	gap: 2rem;
}

.service_feature {
	border-radius: 20px;
	background: #F5B700;
  	border: 1px solid #ddd;
  	padding: 5rem;
  	flex: 1 1 300px;
  	text-align: center;
}

.library-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.library-button:hover {
  	background: #d03a0f;
}

.school-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.school-button:hover {
  	background: #d03a0f;
}

.transportation-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.transportation-button:hover {
  	background: #d03a0f;
}

.Help-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.Help-button:hover {
  	background: #d03a0f;
}

.footer {
	display: flex;
	align-items: center;
  	padding: 2rem;
  	font-size: 0.9rem;
  	background: #f1f1f1;
	justify-content: center;
	position: relative;
}

footer .insta {
	position: absolute;
    right: 2rem;
	font-size: 24px;
}

.top-bar {
  	display: flex;
  	align-items: center;
  	gap: 20px;
  	background-color: #fff;
  	padding: 10px 20px;
	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
	border: 4px solid black;
}

.top-bar .logo img {
	margin-right: auto;
  	height: 50px;
  	width: auto;
  	cursor: pointer;
}

.top-bar .logo {
  	margin-right: auto;
}

.top-bar a {
  	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	padding: 6px 10px;
}

.top-bar a:hover {
  	color: red; 
}


.search-container {
  	margin-left: auto;
  	display: flex;
  	align-items: center;
}

.search-container input {
  	padding: 6px;
  	font-size: 16px;
}

.search-container button {
  	width: 30px;
  	height: 30px;
  	background-color: gray;
  	border: none;
  	cursor: pointer;
}

.search-container button:hover {
  	background-color: #0097a7;
}

#searchResults {
  	padding: 15px 20px;
  	background-color: #f9f9f9;
  	display: none; 
  	margin-top: 70px; 
}

.Contact_pl {
  background: #000;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}
.Contact_pl h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Contact_pl p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.whycontact {
	align-items: center;
	position: fixed; 
}

.real {
	display: flex;
  	flex-direction: column;
  	justify-content: left;
  	margin-right: auto;
}

.gallup-h {
	text-align: center;
}

.personal {
	display: flex;
  	flex-direction: column;
  	justify-content: right;
  	margin-left: auto;
}

.Police-info {
	border-radius: 30px;
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Police-pic img {
	border-radius: 20px;
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-Police {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.gallup-p {
	text-align: center;
}

.Cross-info {
	border-radius: 30px;
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Cross-pic img {
	border-radius: 20px;
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-Cross {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.gallupvid {
	text-align: center;
}

.gallup-video {
	border-radius: 30px;
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}


.Map-gallup {
	display: flex;
	align-items: center; 
	justify-content: center;
	gap: 5em;
	border: 20px solid #CCCACC;
	border-radius: 30px;
	background-color: black;
}

.Map-box {
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 600px;
}

.Map-box h1 {
	font-size: 3em;
	color: white;
}

.Map-box p {
	font-size: 1.2em;
	color: white;
}

.Map {
	border-radius: 2em;
	border: none;
	width: 400px;
	height: 400px;
	transition: 0.3s ease-in-out;
}

.Map:hover {
	transform: scale(1.1);
	opacity: 1;
}

/* the end of index.html code */

/* Event code */

.herb {
	background-image: url("../images/new-mexico-state-flag.png");
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 6rem;
}

.herb h1 {
	border: 1px solid #ddd;
	font-size: 3rem;
	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.herb p {
	border: 1px solid #ddd;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.low-bar {
	display: flex;
  	align-items: center;
  	gap: 20px;
  	background-color: #fff;
  	padding: 10px 20px;
	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
	border: 4px solid black;
}

.low-bar .elogo img {
	margin-right: auto;
  	height: 50px;
  	width: auto;
  	cursor: pointer;
}

.low-bar .elogo {
  	margin-right: auto;
}


.low-bar a {
	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	padding: 6px 10px;
}

 .low-bar a:hover {
   color: red; 
 }

.event_t h1 {
	text-align: center;
}

.features_t {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding: 2rem;
  	gap: 2rem;
}

.feature_t {
  	background: #F5B700;
  	border: 1px solid #ddd;
  	padding: 5rem;
  	flex: 1 1 300px;
  	text-align: center;
}

.feature_t img {
	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	display: block;
}

.gallup-c h1 {
	text-align: center;
}

.Event-section {
	border: 10px solid #ddd;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Event-picture img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.infomation-event {
	border: 6px solid #ddd;
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.footer-event {
  	text-align: center;
  	padding: 2rem;
  	font-size: 0.9rem;
  	background: #f1f1f1;
}
/* End of Event.html code */

/* Start of History.html code */

.History-bar {
  	display: flex;
  	align-items: center;
  	gap: 20px;
  	background-color: #fff;
  	padding: 10px 20px;
	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
	border: 4px solid black;
}

.History-bar .hlogo img {
	margin-right: auto;
  	height: 50px;
  	width: auto;
  	cursor: pointer;
}

.History-bar .hlogo {
  	margin-right: auto;
}


.History-bar a {
  	text-decoration: none;
  	font-size: 18px; /* idk at this point */
  	color: black;
  	padding: 6px 10px;
}

 .History-bar a:hover {
	 color: red; 
 }

.History-header {
  	background-image: url("../images/old-gallup.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.History-header h1 {
	border: 1px solid #ddd;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.History-header p {
	border: 1px solid #ddd;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.History-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.History-fs {
  background: #F5B700;
  border: 1px solid #ddd;
  padding: 5rem;
  flex: 1 1 300px;
  text-align: center;
}

.History-info {
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.history-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-hist {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.History-footer {
  	text-align: center;
  	padding: 2rem;
  	font-size: 0.9rem;
  	background: #f1f1f1;
}

/* end of history.html */
/* Library.html code */

.library-bar {
	display: flex;
  	align-items: center;
  	gap: 20px;
  	background-color: #fff;
  	padding: 10px 20px;
	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
	border: 4px solid black;
}

.library-bar .llogo img {
	margin-right: auto;
  	height: 50px;
  	width: auto;
  	cursor: pointer;
}

.library-bar .llogo {
  	margin-right: auto;
}


.library-bar a {
  	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	padding: 6px 10px;
}

.library-bar a:hover {
  	color: red; 
}

.header-library {
  	background-image: url("../images/new-mexico-state-flag.png");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.header-library h1 {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.header-library p {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.library-info {
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.library-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.library-hist {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
    padding-bottom: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    color: #b4151b;
    font-size: 26px;
    margin: 20px 0 10px;
    font-weight: 700;
}

.card p {
    padding: 0 20px;
    font-size: 16px;
    color: #333;
}

.card a {
    color: #b4151b;
    font-weight: bold;
    text-decoration: none;
}

.card:hover {
	transform: scale(1.1);
	opacity: 1;
}

.library-footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  background: #f1f1f1;
}

/* End of Library.html */

/* start of Education.html */
.education-bar {
	display: flex;
  	align-items: center;
  	gap: 20px;
  	background-color: #fff;
  	padding: 10px 20px;
	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
	border: 4px solid black;
}

.education-bar .edlogo img {
	margin-right: auto;
  	height: 50px;
  	width: auto;
  	cursor: pointer;
}

.education-bar .edlogo {
  	margin-right: auto;
}


.education-bar a {
	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	padding: 6px 10px;
}

 .education-bar a:hover {
   color: red; 
 }

.header-education {
  	background-image: url("../images/poster-gallup.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
  	color: #D0083A;
  	text-align: center;
  	padding: 6rem 4rem;
	border: 2px solid black;
}

.header-education h1 {
	border: 1px solid #ddd;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.header-education p {
	border: 1px solid #ddd;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.Elementry {
	text-align: center;
}

.School-info {
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.School-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-school {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.Middle {
	text-align: center;
}

.Middle-info {
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Middle-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-Middle {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.High-school {
	text-align: center;
}

.highschool-info {
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.highschool-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-highschool {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.education-footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  background: #f1f1f1;
}

/* end of education.html */
/* start of Transportation.html */

.Transportation-bar {
	display: flex;
  	align-items: center;
  	gap: 20px;
  	background-color: #fff;
  	padding: 10px 20px;
	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
	border: 4px solid black;
}

.Transportation-bar .translogo img {
	margin-right: auto;
  	height: 50px;
  	width: auto;
  	cursor: pointer;
}

.Transportation-bar .translogo {
  	margin-right: auto;
}

.Transportation-bar a {
	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	padding: 6px 10px;
}

 .Transportation-bar a:hover {
   color: red; 
 }

.header-Transportation {
  	background-image: url("../images/new-mexico-state-flag.png");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.header-Transportation h1 {
	border: 1px solid #ddd;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.header-Transportation p {
	border: 1px solid #ddd;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.Transportation-info {
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Transportation-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-Transportation {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.Transportation-footer {
	text-align: center;
	padding: 2rem;
	font-size: 0.9rem;
	background: #f1f1f1;
}
/* end of transportation.html */
/* start of reference.html */

.reference-bar {
  	display: flex;
  	align-items: center;
  	gap: 20px;
  	background-color: #fff;
  	padding: 10px 20px;
	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
	border: 4px solid black;
}

.reference-bar .reflogo img {
	margin-right: auto;
  	height: 50px;
  	width: auto;
  	cursor: pointer;
}

.reference-bar .reflogo {
  	margin-right: auto;
}


.reference-bar a {
	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	padding: 6px 10px;
}

 .reference-bar a:hover {
   	color: red; 
 }

.reference-header {
  	background-image: url("../images/Gallup-background.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.reference-header h1 {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.reference-header p {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.Reference-info {
	border-radius: 20px;
	border: 10px solid #CCCACC;
	padding: 2rem;
	background: #F5B700;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.info-Reference {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.reference-f {
  	display: flex;
	flex-wrap: wrap;
  	justify-content: center;
  	padding: 2rem;
  	gap: 2rem;
}

.reference-fs {
	border-radius: 20px;
  	background: #F5B700;
  	border: 1px solid #ddd;
  	padding: 5rem;
  	flex: 1 1 300px;
  	text-align: center;
}

.part2-f {
  	display: flex;
	flex-wrap: wrap;
  	justify-content: center;
  	padding: 2rem;
  	gap: 2rem;
}

.part2-fs {
	border-radius: 20px;
  	background: #F5B700;
  	border: 1px solid #ddd;
  	padding: 5rem;
  	flex: 1 1 300px;
  	text-align: center;
}

.Reference-footer {
	text-align: center;
	padding: 2rem;
	font-size: 0.9rem;
	background: #f1f1f1;
}
/* end of reference.html */
/* Start of Help page */
.Help-bar {
	display: flex;
  	align-items: center;
  	gap: 20px;
  	background-color: #fff;
  	padding: 10px 20px;
	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
	border: 4px solid black;
}

.Help-bar .Help-logo img {
	margin-right: auto;
  	height: 50px;
  	width: auto;
  	cursor: pointer;
}

.Help-bar .Help-logo {
  	margin-right: auto;
}


.Help-bar a {
  	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	padding: 6px 10px;
}

.Help-bar a:hover {
  	color: red; 
}

.Help-page {
  	background-image: url("../images/new-mexico-state-flag.png");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.Help-page h1 {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.Help-page p {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 20px/30px Georgia, serif;
}
/* moblie access */
@media (max-width: 768px) {
    display: flex;
    justify-content: center;
    
.body, h1, h2, h3, p, a {
  	font-size: 40px;
	margin: 0;
  	padding: 0;
  	text-decoration: none;
  	color: inherit;
}
}
