/* index.html code */
body, h1, h2, p, a {
  	margin: 0;
  	padding: 0;
  	text-decoration: none;
  	color: inherit;
}

body {
	background-color: red; 
}

.hero {
  	background-image: url("../images/Gallup-background.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.hero h1 {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.hero p {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.8); 
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.cta-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
	font: italic small-caps bold 15px/20px Georgia, serif;
}

.cta-button:hover {
  background: #d03a0f;
}

.about_t h1 {
	text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.feature {
  background: #F5B700;
  border: 1px solid #ddd;
  padding: 5rem;
  flex: 1 1 300px;
  text-align: center;
}

.Event-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.Event-button:hover {
  	background: #d03a0f;
}

.History-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.History-button:hover {
  	background: #d03a0f;
}

.service h1 {
	text-align: center;
}

.service_f {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding: 2rem;
  	gap: 2rem;
}

.service_feature {
	background: #f0f013;
  	border: 1px solid #ddd;
  	padding: 5rem;
  	flex: 1 1 300px;
  	text-align: center;
}

.library-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.library-button:hover {
  	background: #d03a0f;
}

.school-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.school-button:hover {
  	background: #d03a0f;
}

.transportation-button {
  	display: inline-block;
  	background: #f04e23;
  	color: #fff;
  	font-size: 1.2rem;
  	padding: 1rem 2rem;
  	border-radius: 4px;
  	transition: background 0.3s ease;
}

.transportation-button:hover {
  	background: #d03a0f;
}

.footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  background: #f1f1f1;
}

.top-bar {
	
  	background-color: #333; 
  	color: white;
  	text-align: center; 
  	padding: 15px 0; 
  	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
}

.top-bar a {
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
  	font-weight: bold;
  	font-size: 16px;
  	transition: color 0.3s;
	font: italic small-caps bold 15px/20px Georgia, serif;
}

.top-bar a:hover {
  	color: #00bcd4; 
}


.search-container {
  	position: fixed;
  	align-items: center;
	right: 15px;
}

.search-container input {
  	padding: 6px 10px;
  	border: none;
  	border-radius: 4px;
  	outline: none;
}

.search-container button {
  	margin-left: 8px;
  	padding: 10px 10px;
  	border: none;
  	background-color: #00bcd4;
  	color: white;
  	border-radius: 4px;
  	cursor: pointer;
  	transition: background-color 0.3s;
}

.search-container button:hover {
  	background-color: #0097a7;
}

#searchResults {
  	padding: 15px 20px;
  	background-color: #f9f9f9;
  	display: none; 
  	margin-top: 70px; 
}

.Contact_pl {
  background: #000;
  color: blue;
  text-align: center;
  padding: 4rem 2rem;
}
.Contact_pl h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Contact_pl p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.real {
	display: flex;
  	flex-direction: column;
  	justify-content: left;
  	align-items: left;
}

.gallup-h {
	text-align: center;
}

.personal {
	display: flex;
  	flex-direction: column;
  	justify-content: right;
  	align-items: right;
}

.Police-info {
	border-radius: 10px;
	border: 10px solid red;
	padding: 2rem;
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Police-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-Police {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.gallup-p {
	text-align: center;
}

.Cross-info {
	border-radius: 10px;
	border: 10px solid red;
	padding: 2rem;
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Cross-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-Cross {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}


/* the end of index.html code */

/* Event code */

.herb {
	background-image: url("../images/new-mexico-state-flag.png");
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 6rem;
}

.herb h1 {
	border: 1px solid #ddd;
	font-size: 3rem;
	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.herb p {
	border: 1px solid #ddd;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.low-bar {
  background-color: #333; 
  color: white;
  text-align: center; 
  padding: 15px 0; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.low-bar a {
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
  	font-weight: bold;
  	font-size: 16px;
  	transition: color 0.3s;
	font: italic small-caps bold 15px/20px Georgia, serif;
}

 .low-bar a:hover {
   color: #00bcd4; 
 }

.event_t h1 {
	text-align: center;
}

.features_t {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding: 2rem;
  	gap: 2rem;
}

.feature_t {
  	background: yellow;
  	border: 1px solid #ddd;
  	padding: 5rem;
  	flex: 1 1 300px;
  	text-align: center;
}

.feature_t img {
	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	display: block;
}

.gallup-c h1 {
	text-align: center;
}

.Event-section {
	border: 10px solid #ddd;
	padding: 2rem;
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Event-picture img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.infomation-event {
	border: 6px solid #ddd;
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.footer-event {
  	text-align: center;
  	padding: 2rem;
  	font-size: 0.9rem;
  	background: #f1f1f1;
}
/* End of Event.html code */

/* Start of History.html code */

.History-bar {
  background-color: #333; 
  color: white;
  text-align: center; 
  padding: 15px 0; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.History-bar a {
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
  	font-weight: bold;
  	font-size: 16px;
  	transition: color 0.3s;
	font: italic small-caps bold 15px/20px Georgia, serif;
}

 .History-bar a:hover {
	 color: #00bcd4; 
 }

.History-header {
  	background-image: url("../images/old-gallup.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.History-header h1 {
	border: 1px solid #ddd;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.History-header p {
	border: 1px solid #ddd;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.History-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.History-fs {
  background: #f0f013;
  border: 1px solid #ddd;
  padding: 5rem;
  flex: 1 1 300px;
  text-align: center;
}

.History-info {
	border: 10px solid #ddd;
	padding: 2rem;
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.history-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-hist {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.History-footer {
  	text-align: center;
  	padding: 2rem;
  	font-size: 0.9rem;
  	background: #f1f1f1;
}

/* Library.html code */

.library-bar {
	
  	background-color: #333; 
  	color: white;
  	text-align: center; 
  	padding: 15px 0; 
  	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
}

.library-bar a {
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
  	font-weight: bold;
  	font-size: 16px;
  	transition: color 0.3s;
	font: italic small-caps bold 15px/20px Georgia, serif;
}

.library-bar a:hover {
  	color: #00bcd4; 
}

.header-library {
  	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLyO5qZwGZDXFyyageWPYDrJ6LTbex9_xq6g&s");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.header-library h1 {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.header-library p {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.library-info {
	border: 10px solid red;
	padding: 2rem;
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.library-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.library-hist {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.library-footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  background: #f1f1f1;
}

/* End of Library.html */

/* start of Education.html */
.education-bar {
  background-color: #333; 
  color: white;
  text-align: center; 
  padding: 15px 0; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.education-bar a {
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
  	font-weight: bold;
  	font-size: 16px;
  	transition: color 0.3s;
	font: italic small-caps bold 15px/20px Georgia, serif;
}

 .education-bar a:hover {
   color: #00bcd4; 
 }

.header-education {
  	background-image: url("../images/new-mexico-state-flag.png");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.header-education h1 {
	border: 1px solid #ddd;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.header-education p {
	border: 1px solid #ddd;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.Elementry {
	text-align: center;
}

.School-info {
	border: 10px solid red;
	padding: 2rem;
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.School-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-school {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.Middle {
	text-align: center;
}

.Middle-info {
	border: 10px solid red;
	padding: 2rem;
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Middle-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-Middle {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.education-footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  background: #f1f1f1;
}

/* end of education.html */
/* start of Transportation.html */

.Transportation-bar {
  background-color: #333; 
  color: white;
  text-align: center; 
  padding: 15px 0; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.Transportation-bar a {
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
  	font-weight: bold;
  	font-size: 16px;
  	transition: color 0.3s;
	font: italic small-caps bold 15px/20px Georgia, serif;
}

 .Transportation-bar a:hover {
   color: #00bcd4; 
 }

.header-Transportation {
  	background-image: url("../images/new-mexico-state-flag.png");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.header-Transportation h1 {
	border: 1px solid #ddd;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.header-Transportation p {
	border: 1px solid #ddd;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.Transportation-info {
	border: 10px solid red;
	padding: 2rem;
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	gap: 2rem;
}

.Transportation-pic img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
  	display: block;
}

.info-Transportation {
	display: block;
	padding: 5rem;
  	flex: 1 1 300px;
	text-align: center;
}

.Transportation-footer {
	text-align: center;
	padding: 2rem;
	font-size: 0.9rem;
	background: #f1f1f1;
}
/* end of transportation.html */
/* start of reference.html */

.reference-bar {
  	background-color: #333; 
  	color: white;
  	text-align: center; 
  	padding: 15px 0; 
  	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1000;
}

.reference-bar a {
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
  	font-weight: bold;
  	font-size: 16px;
  	transition: color 0.3s;
	font: italic small-caps bold 15px/20px Georgia, serif;
}

 .reference-bar a:hover {
   	color: #00bcd4; 
 }

.reference-header {
  	background-image: url("../images/Gallup-background.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
  	background-blend-mode: multiply; 
  	color: red;
  	text-align: center;
  	padding: 6rem 4rem;
}

.reference-header h1 {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 3rem;
  	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	font: italic small-caps bold 40px/50px Georgia, serif;
}

.reference-header p {
	border: 1px solid #ddd;
  	padding: 1rem;
  	font-size: 1.5rem;
  	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.5); 
	font: italic small-caps bold 20px/30px Georgia, serif;
}

.Reference-footer {
	text-align: center;
	padding: 2rem;
	font-size: 0.9rem;
	background: #f1f1f1;
}
